@model IEnumerable<AdvancePhonebook.Models.Enterprises>

@{
    ViewData["Title"] = "شرکت ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h1>@ViewData["Title"]</h1>
</p>
<p>
    <a asp-action="Create">
        <button class="btn btn-success">
            + افزودن
        </button>
    </a>
</p>
<div class="table-responsive">
    <table class="table mg-b-0 tx-12">
        <thead>
        <tr class="tx-10">
            <th>
                نام
            </th>
            <th>
                ایمیل
            </th>
            <th>
               شماره تماس
            </th>
            <th>
                فکس
            </th>
            <th>
                آدرس
            </th>
            <th>
                کدپستی
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>